<style type="text/css">
.frame {
	margin: 0 auto;
	width: auto;
}

.front {
	border-color: 555555;
}

.left {
	border-color: FF0000;
	float: left;
	min-width: 50px;
	max-width: 30%;
	height: auto;
}

.center {
	border-color: 00FF00;
	float: left;
	height: auto;
}

.right {
	border-color: 0000FF;
	float: right;
	width: auto;
	height: auto;
}

.bottom {
	border-color: AAAAAA;
	clear: both;
	height: auto;
}


div {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

body {
	background: url(../img/b065.gif);
}

table {
	text-align: left;
}

</style>
